
.navbar{
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.08);
 background-color: #e1e1e1;
  
}
.navbar h2{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.spinner-border{
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .row-cols-md-3 .col {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}

@media (max-width: 767px) {
  .row-cols-1 .col {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
grid { width: 80%; margin: 0 auto; }

.product { float: left; width: 29.3333%; padding: 1em; margin: 2%; text-align: center; border: solid 1px transparent; }
.product:hover { border: solid 1px #ddd;  }

img { width: 100%; margin-bottom: 0.9em; }
h6 { margin: 0; font-size: 0.85em; font-weight: normal; }
p { margin: 0; font-weight: bold; font-size: 0.85em; }
/* details product  */


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
